@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
:root {
	--clr-text-primary: #f7f7f4;
	--clr-body-bg: #151515;
}


@media (prefers-color-scheme: dark) {
	:root {
		--clr-text-primary: #151515;
		--clr-body-bg: #f7f7f4;
	}
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


body {
	font-family: 'Roboto', sans-serif;
	color: var(--clr-text-primary);
	background-color: var(--clr-body-bg);
}

.container {
	padding: 0 20px;
	max-width: 1480px;
	margin: 0 auto;

}

.main {
	height: 100%;
	margin-top: 60px;
}